@{
ViewData["Title"] = "Home Page";
}
<div class="row">
    <p></p>
</div>
<div class="row" id="icon-container">
    <icon-object title='GOLD' icon='fas fa-desktop' body='Student Registration Services'></icon-object>
    <icon-object title='U-Mail' icon='far fa-envelope' body='Student Email System'></icon-object>
    <icon-object title='My BARC' icon='fas fa-dollar-sign' body='Billing Information'></icon-object>
    <icon-object title='GauchoSpace' icon='fas fa-graduation-cap' body='Student Registration System'></icon-object>
    <icon-object title='Online Appointments' icon='far fas fa-hospital' body='Student Health Services'></icon-object>
    <icon-object title='My Aid Status' icon='fas fa-hand-holding-usd' body='Financial Aid'></icon-object>
    <icon-object title='My CLAS' icon='fas fa-pencil-alt' body='Learning Assistance'></icon-object>
    <icon-object title='Disabled Students' icon='fas fa-seedling' body='Disabled Students Program'></icon-object>
    <icon-object title='Housing' icon='fas fa-house-damage' body='Student Housing'></icon-object>
    <icon-object title='UCSB Alert' icon='fa fa-exclamation-triangle' body='Notification System'></icon-object>
    <icon-object title='My Jobs' icon='fas fa-user-md' body='Career Services'></icon-object>
    <icon-object title='Box' icon='fas fa-box' body='Box Cloud Storage'></icon-object>
</div>
